.home-page {

  ion-avatar > img{
    max-width: 10.6rem;
    max-height: 5.6rem;
  }

  ion-list-header{
    background: #d9ffb3;
  }

  ion-list{
    margin: -1px 0 10px 0;
  }

}

#the-ion-title{
  color: $main-color !important;
}

//ion-card-content{
//  text-align: center;
//}
