.login-page{
  background: url("../../img/doctor/doctor5.jpg") no-repeat center;
  background-size: 400px 700px;
}


.login-inputs{
  position: relative;
  top: 34%;
}


.login-button{
  position: relative;
  top: 30%;
}
